@import "../../variables.scss";

.ChoresContainer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.NewChoreForm {
  background-color: $primary-magenta;
  padding: 20px 0;

  &__form {
    display: flex;
    justify-content: center;
  }

  &__input-container {
    width: 50%;
    padding: 15px;
    background-color: $primary-yellow;
  }

  &__input {
    background-color: transparent;
    border-color: transparent;
    resize: none;
    font: $font-stack;
    padding: 5px;

    &::placeholder {
      color: gray;
    }
  }

  &__icons {
    margin-top: 10px;
    padding: 0;

    .fa {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

.ChoreList {
  &__list {
    flex: 1 1 auto;
    list-style: none;
    padding: 0;
    margin-top: 15px;
  }

  &__item {
    background-color: $primary-blue; 
    margin-bottom: 15px;
    padding: 20px;
  }

  &__item-checkbox {
    display: inline-block;
    padding: 0.5em;
  }

  &__item-description {
    display: inline-block;
  }
}
