$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";

$font-stack: 100% Helvetica, sans-serif;
$primary-blue: #2274A5;
$primary-magenta: #E83F6F;
$primary-yellow: #FFBF00;
$primary-emerald: #32936F;
$primary-white: #FFFFFF;